.team {
  background: url('../../img/bg/team-bg.png') center center / cover no-repeat;
  position: relative;

  &__container {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background: rgba(#2f3234, .93);
    padding: 5% 15% 0 7%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;


    @include tablets {
      width: 100%;
      text-align: center;
      align-items: center;
    }
  }

  &__title {
    font-family: 'Gagalin';
    color: #fff;
    font-size: rem(24px);
    text-decoration: none;
    position: relative;
    display: inline-flex;
    margin-bottom: rem(20px);
    align-items: center;  
    cursor: pointer;
  

    &:before, &:after {
      content: "";
      display: block;
      position: absolute;
      left: rem(-18px);
      top: rem(14px);
      width: 0;
      height: 0;
    }

    &:before {
      border-top: rem(7px) solid $yellow;
      border-left: rem(5px) solid transparent;
      border-right: rem(5px) solid transparent;
      border-bottom: rem(0px) solid transparent;
      transform: rotate(0deg);
      transition: .3s;
    }

    &:after {
      display: none;
      border-bottom: rem(7px) solid $yellow;
      border-left: rem(5px) solid transparent;
      border-right: rem(5px) solid transparent;
      border-top: 0 solid transparent;
    }
  }

  &__accordeon {
    display: none;
    color: #fff;
    margin-bottom: rem(20px);

    &--open {
      display: flex;
    }

    @include tablets {
      flex-direction: column;
      align-items: center;
    }
  }

  &__picture {
    flex: 1;

    @include tablets {
      margin-bottom: rem(20px);
    }
  }

  &__image {
    width: rem(100px);
    height: rem(100px);
    border-radius: 50%;
  }

  &__about {
    flex: 3;
    margin-left: rem(10px);

    @include tablets {
      margin: 0;
    }
  }

  &__subtitle {
    font-weight: bold;
  }
}

